table {
    min-width: 500px;
    background-color: wheat;
}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: aqua;
}
h1 {
    text-align: center;
    color: blueviolet;
}
#inputFields {
    margin-left: auto;
    margin-right: auto;
}
.blankRow {
    height: 10px;
}


#normal {
    color: green;
    background-color: white;
}
#red {
    color: black;
    background-color: red;
    font-size: 300%;
}