main {
    margin: 5%;
    background-color: aquamarine;
    border: 2px solid black;
}

table {
    min-width: 600px;
    background-color: lavender;
    text-align: center;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px blueviolet;
}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

}

body {
    margin: 0;
    background-color: aqua;
}
header {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    background-color:  aquamarine;
    border: 2px solid black;
}
h1 {
    margin: 0;
    font-size: 300%;
    text-align: center;
    color: blueviolet;

}
h3 {
    margin-left: 5%;
    margin-bottom: 0;
    color: blueviolet;
    
}
#inputFields {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.blankRow {
    height: 25px;
}
#submit {
    margin-left: 5%;
}

#normal {
    color: blueviolet;
    background-color: aquamarine;
    margin: 5%;
    border: 2px solid black;
    font-size: 100%;
}
#red {
    color: black;
    background-color: red;
    margin: 5%;
    border: 2px solid black;
    font-size: 200%;
}